@{
    ViewBag.Title = "About Me";
}
<h2>@ViewBag.Title</h2>


<div class="jumbotron">
    <div class="row">
        <div class="col-md-8">
            <h3>Description</h3>
            <p style="font-size:15px">
                I am a hard-working, dedicated person. I will always put my best effort into anything I do. <br/>
                I am a fast learner, and self-motivator. I’m a friendly, outgoing person, willing to help anywhere and whenever I am needed. <br />
                I enjoy spending time with family and doing family activities in our free time. <br />
                I am a very patient individual. I can work well with others because  <br />
                I am studying a BIT degree at University of Pretoria, full time. <br />
                I enjoy playing hockey to keep myself active, and in my relax time I enjoy watching and rewatching many different series. <br/>
                My favourite series are: Grey's Anatoymy, HIMYM, Full House, and Friends. <br/>
            </p>

        </div>

        <div class="col-md-4">
            <h3>Jenalle Davenall </h3>

            <img src="~/IMG_7691.jpg" width="240" height="300"/>

        </div>
    </div>
</div>
